.services
  %h3.with-button
    Все сервисы
    - if can? :create, Hotel::Service
      = link_to 'Добавить', new_resource_path, class: 'btn btn-mini btn-success'

  #content-table
    = render :partial => 'table'
