/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/css/bootstrap.min
 *= require bootstrap/css/bootstrap-responsive.min
 *= require main
 *= require documents
 *= require articles
 *= require hotels
 *= require tickets
 *= require fancybox/jquery.fancybox-1.3.4.css
 *= require jquery.ui.all
*/

.indicator { margin-bottom: 4px }

.accordion-heading { background: whiteSmoke }
.accordion-body { background: whiteSmoke }

p.small { font-size: 9px; color: #666 }

#fancybox-title { font-size: 16px }
.tooltip-inner { font-size: 16px }

.rooms-in-basket { position: absolute; right: 20px; top: 10px; }
.rooms-in-basket ol { margin-bottom: 4px }
