.retval-form
  %h3 Выбранная гостиница
  .well
    %h4
      "Вы назначили объект "
      = resource.name
      " в управление хотельеру"
  %h5
    "Если назначение данного объекта произошло по ошибке, удалите его из формы редактиррования данных хотельера нажав кнопку <Убрать эту гостиницу из управления>"

  %br
  = link_to 'Продолжить', '/user/hoteliers/' + $hotelier_save.to_s + '/edit', class: 'btn-large'